body {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-display {
  z-index: 0;
  display: grid;
  grid-gap: 1rem;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  /* grid-rows: auto; */
}

.title-container {
  height: 30rem;
  width: 100%;
}

.background-img {
  height: 100%;
  width: 100%;
}

.title-container {
  visibility: hidden;
}

.title-container:hover {
  cursor: pointer;
  visibility: visible;
}

.individual {
  z-index: 2;
  color: red;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

footer {
  padding-top: 7%;
  z-index: 3;
  display: flex;
  color: red;
  position: fixed;
  background-color: black;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 76%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

.mini-poster {
  height: 100%;
  margin-left: 1rem;
}

button {
  height: 2rem;

}

.movie-details {
  padding: 1rem;
  width: 50rem;
}

.movie-overview {
  width: 70%;
}

.overview-text {
  font-size: 1.5rem;
}

.error {
  /* padding-top: rem;
  margin: 0%;
  text-align: center; */
  font-size: 3.5rem;
  color: red;
}

/* img {
  object-fit: contain;
  height: 350px;
  width: auto;
} */
