body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  width: 100%;  
  height: 100vh;
}

.App {
    width: 100%;
}

.main-display {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  z-index: 0;
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: repeat(4, 1fr);
}

.title-container {
  height: 30rem;
  width: 20rem;
  visibility: hidden;
}

.background-img {
  margin: auto;
  cursor: pointer;
  height: 500px;
  max-width: 322px;
}

.title-container:hover {
  cursor: pointer;
  visibility: visible;
}

.individual {
  z-index: 2;
  color: red;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

footer {
  padding-top: 7%;
  z-index: 3;
  display: flex;
  color: red;
  position: fixed;
  background-color: black;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 76%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 30%;
  bottom: 0;
}

.movie-title-container {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

h2 {
  margin: 0;
}

.mini-poster {
  height: 100%;
  margin-left: 1rem;
}

button {
  border: solid 3px red;
  border-radius: 2px;
  background-color: black;
  color: red;
  height: 2rem;
  margin-bottom: 3rem;
  align-self: left;
}

.movie-details {
  padding: 1%;
  width: 40rem;
}

.tagline {
  font-size: 1rem;
}

.details-wrapper {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

p{
  margin-top: 0;
}

.details-sub-wrapper {
  width: 50%
}
.movie-overview {
  width: 70%;
}

.genre-container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.overview-wrapper {
  z-index: 1;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,1) 100%);
}

.overview-text {
  z-index: 0;
  font-size: 1.25rem;
  height: 4.5rem;
  overflow-y: scroll;
}

.error {
  font-size: 3.5rem;
  color: red;
}


@media screen and (max-width: 1400px) {
  .main-display {
    grid-template-columns: repeat(3, 1fr);
  }  
  
}

@media screen and (max-width: 1050px) {
  .main-display {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 700px) {
  .main-display {
    grid-template-columns: repeat(1, 1fr);
  }
}