body {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.main-display {
  z-index: 0;
  display: grid;
  grid-gap: 1rem;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  /* grid-rows: auto; */
}

.title-container {
  height: 300px;
  width: 100%;
}

.background-img {
  height: 100%;
  width: 100%;
}

.title-container {
  visibility: hidden;
}

.title-container:hover {
  cursor: pointer;
  visibility: visible;
}

.individual {
  z-index: 2;
  background-color: aquamarine;
  color: red;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;

}



/* img {
  object-fit: contain;
  height: 350px;
  width: auto;
} */
